examples/timed-statemachine-example.json
[
    {
        "id": "8d6ebfa73499d6c8",
        "type": "subflow",
        "name": "On Delay",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "8cdd1599e856b60e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 140,
                "wires": [
                    {
                        "id": "2599fe9c8fc7efd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "aa073819f0579451",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "3904b58de0ad79c0"
            ]
        ]
    },
    {
        "id": "8975728dd07f03db",
        "type": "switch",
        "z": "8d6ebfa73499d6c8",
        "name": "Select",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "aa073819f0579451"
            ],
            [
                "2599fe9c8fc7efd4"
            ],
            [
                "3904b58de0ad79c0"
            ]
        ],
        "outputLabels": [
            "reset",
            "false",
            "true"
        ]
    },
    {
        "id": "3904b58de0ad79c0",
        "type": "delay",
        "z": "8d6ebfa73499d6c8",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "9d7141a7a5a9e4cb"
            ]
        ]
    },
    {
        "id": "e1b155fd500be716",
        "type": "comment",
        "z": "8d6ebfa73499d6c8",
        "name": "On Delay",
        "info": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "72fc77aafcda0970",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "MSG",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "8975728dd07f03db"
            ]
        ]
    },
    {
        "id": "a02d778c8f201bd8",
        "type": "comment",
        "z": "8d6ebfa73499d6c8",
        "name": "Set Delay",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d7141a7a5a9e4cb",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "aa073819f0579451",
                "2599fe9c8fc7efd4"
            ]
        ]
    },
    {
        "id": "2599fe9c8fc7efd4",
        "type": "function",
        "z": "8d6ebfa73499d6c8",
        "name": "Gate",
        "func": "if (msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (!msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", true);",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8cdd1599e856b60e",
        "type": "switch",
        "z": "8d6ebfa73499d6c8",
        "name": "SET?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "5d87d2e107c90fd5"
            ],
            [
                "72fc77aafcda0970"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "18426fcbf9ba10dd",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "Flow",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5d87d2e107c90fd5",
        "type": "range",
        "z": "8d6ebfa73499d6c8",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "1000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "18426fcbf9ba10dd"
            ]
        ]
    },
    {
        "id": "d63dc3e1a8ada448",
        "type": "tab",
        "label": "state machine test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd52936b29fd2896",
        "type": "junction",
        "z": "d63dc3e1a8ada448",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "40177951232e426a",
                "bd9b820f6dae279e",
                "653db74cedc9ec75",
                "d9d26258a55cf2ee",
                "0b5634fd69a4fb13"
            ]
        ]
    },
    {
        "id": "939e3302641baadb",
        "type": "junction",
        "z": "d63dc3e1a8ada448",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "5ee584c748e1b268",
                "9386ceb2b3d1f5c8",
                "33211bc2b327501a",
                "5970541909607984"
            ]
        ]
    },
    {
        "id": "abea91748d3be8bc",
        "type": "junction",
        "z": "d63dc3e1a8ada448",
        "x": 740,
        "y": 360,
        "wires": [
            [
                "b6ea3365dfae1f25",
                "5bb9b0afc743adb1",
                "9922bd4258811839",
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "8abffbeabfc3b398",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Start_sw",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "02f2dd2f6ba2c17d",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Stop_sw",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "9922bd4258811839",
        "type": "output",
        "z": "d63dc3e1a8ada448",
        "name": "Pump_Run",
        "rbe": true,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "b645bd7c798f068b"
            ]
        ]
    },
    {
        "id": "b6ea3365dfae1f25",
        "type": "output",
        "z": "d63dc3e1a8ada448",
        "name": "Desorb_Valve",
        "rbe": true,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "37d463b3e3dd8ea4",
                "1d77182cc7f77953"
            ]
        ]
    },
    {
        "id": "5bb9b0afc743adb1",
        "type": "output",
        "z": "d63dc3e1a8ada448",
        "name": "Adsorb_Valve",
        "rbe": true,
        "x": 860,
        "y": 340,
        "wires": [
            [
                "9bfbe610e02c899e",
                "d7f0207df59e8434"
            ]
        ]
    },
    {
        "id": "bd9b820f6dae279e",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Start",
        "expression": "Start_sw and not Stop_sw and not Ads_done and not Des_done",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "40177951232e426a",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Stop",
        "expression": "Stop_sw",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "302e0c820f98d711",
        "type": "inject",
        "z": "d63dc3e1a8ada448",
        "name": "START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "37b0a89deb2bc1c5"
            ]
        ]
    },
    {
        "id": "dfe5eb802e29b25b",
        "type": "inject",
        "z": "d63dc3e1a8ada448",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "2fcf70e266144a23"
            ]
        ]
    },
    {
        "id": "b645bd7c798f068b",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Pump_Run",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 80,
        "wires": []
    },
    {
        "id": "0a028e24853dbc9f",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Adsorbing out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "5ee584c748e1b268",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "state in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "653db74cedc9ec75",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "condition in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "09b75a4f03ba6b09",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Des_done",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "8d59acd4a0f42c8b",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Ads_done",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "0b5634fd69a4fb13",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Des_done",
        "expression": "Des_done and not Stop_sw and not Ads_done",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "d9d26258a55cf2ee",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Ads_done",
        "expression": "Ads_done and not Stop_sw and not Des_done",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "1bd455c8ed6f585d",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "Input Nodes",
        "info": "",
        "x": 230,
        "y": 420,
        "wires": []
    },
    {
        "id": "d667726628c5b8b7",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "Condition Nodes",
        "info": "",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "70188f354a940890",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "State Nodes",
        "info": "",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "a7198e6338ab1c4b",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "Output Nodes",
        "info": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "9386ceb2b3d1f5c8",
        "type": "state",
        "z": "d63dc3e1a8ada448",
        "name": "Adsorbing",
        "isinitialstate": false,
        "outputlist": [
            {
                "name": "Pump_Run",
                "value": true,
                "type": "bool"
            },
            {
                "name": "Adsorb_Valve",
                "value": true,
                "type": "bool"
            },
            {
                "name": "Desorb_Valve",
                "value": false,
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Start",
                "state": "Adsorbing"
            },
            {
                "condition": "Stop",
                "state": "Stopped"
            },
            {
                "condition": "Ads_done",
                "state": "Desorbing"
            },
            {
                "condition": "Des_done",
                "state": "Adsorbing"
            }
        ],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "abea91748d3be8bc",
                "0a028e24853dbc9f"
            ]
        ]
    },
    {
        "id": "33211bc2b327501a",
        "type": "state",
        "z": "d63dc3e1a8ada448",
        "name": "Desorbing",
        "isinitialstate": false,
        "outputlist": [
            {
                "name": "Pump_Run",
                "value": "true",
                "type": "bool"
            },
            {
                "name": "Adsorb_Valve",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Desorb_Valve",
                "value": "true",
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Start",
                "state": "Desorbing"
            },
            {
                "condition": "Stop",
                "state": "Stopped"
            },
            {
                "condition": "Ads_done",
                "state": "Desorbing"
            },
            {
                "condition": "Des_done",
                "state": "Adsorbing"
            }
        ],
        "x": 630,
        "y": 280,
        "wires": [
            [
                "abea91748d3be8bc",
                "8ee4390b17a0c1dd"
            ]
        ]
    },
    {
        "id": "5970541909607984",
        "type": "state",
        "z": "d63dc3e1a8ada448",
        "name": "Stopped",
        "isinitialstate": true,
        "outputlist": [
            {
                "name": "Pump_Run",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Adsorb_Valve",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Desorb_Valve",
                "value": "false",
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Start",
                "state": "Desorbing"
            },
            {
                "condition": "Stop",
                "state": "Stopped"
            },
            {
                "condition": "Ads_done",
                "state": "Stopped"
            },
            {
                "condition": "Des_done",
                "state": "Stopped"
            }
        ],
        "x": 620,
        "y": 220,
        "wires": [
            [
                "abea91748d3be8bc",
                "b7c107b50b1a3d1a"
            ]
        ]
    },
    {
        "id": "9bfbe610e02c899e",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Ads_Valve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "37d463b3e3dd8ea4",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Des_Valve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ee4390b17a0c1dd",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Desorbing out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "b7c107b50b1a3d1a",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Stopped out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "37b0a89deb2bc1c5",
        "type": "trigger",
        "z": "d63dc3e1a8ada448",
        "name": "MC",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "8abffbeabfc3b398"
            ]
        ]
    },
    {
        "id": "2fcf70e266144a23",
        "type": "trigger",
        "z": "d63dc3e1a8ada448",
        "name": "MC",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "02f2dd2f6ba2c17d"
            ]
        ]
    },
    {
        "id": "0414498f6aa9c5e5",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "On-Delay",
        "info": "",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "1d77182cc7f77953",
        "type": "subflow:8d6ebfa73499d6c8",
        "z": "d63dc3e1a8ada448",
        "name": "",
        "x": 1060,
        "y": 280,
        "wires": [
            [
                "09b75a4f03ba6b09"
            ]
        ]
    },
    {
        "id": "d7f0207df59e8434",
        "type": "subflow:8d6ebfa73499d6c8",
        "z": "d63dc3e1a8ada448",
        "name": "",
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "8d59acd4a0f42c8b"
            ]
        ]
    }
]